@import '~@entur/tokens/dist/styles.scss';

.passing-times-editor {
  max-width: 38rem;

  .passing-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 2px solid $colors-greys-grey20;

    .time-number {
      min-width: 1.25px;
      margin-right: 2rem;
    }

    .title {
      width: 100%;
      max-width: 15rem;
    }

    .timepicker {
      width: 100%;
      max-width: fit-content;

      .eds-form-control-wrapper {
        height: 2.75rem;
      }

      input[type='time']::-webkit-clear-button {
        display: none;
      }
    }

    .dayoffset {
      width: fit-content;
    }
  }

  .flexible-areas-passing-time {
    display: flex;
  }
}
