@import '~@entur/tokens/dist/styles.scss';

.lines-editor-general {
  .header {
    margin-bottom: $line-heights-extra-large7;
  }
  .inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .eds-input-group + .eds-input-group {
      margin-top: 0;
    }

    .eds-input-group {
      margin: 0 $space-large $space-large 0;
      flex: 1 45%;
    }

    .eds-input-group:nth-child(even) {
      margin-right: $space-large;
    }
  }

  .line-type-dropdown {
    position: relative;
    font-size: 14px;
    flex: 1;
    cursor: pointer;

    &-tooltip {
      position: absolute;
      left: 135px;
      top: -1px;

      text-decoration: underline;
    }
  }

  header.flexible-line-type-drawer {
    margin-bottom: $space-extra-large;
  }

  section.flexible-line-type-drawer {
    margin-bottom: $space-large;
  }

  section.flexible-line-type-drawer > h4 {
    margin: 0;
  }
}
