@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/modal/dist/styles.css';

.lines-editor-general {
  .header {
    margin-bottom: $line-heights-extra-large7;
  }
  .inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
      width: 48%;
      min-width: 20rem;
      margin-top: $space-large;
    }
  }

  .line-type-dropdown {
    position: relative;
    font-size: 14px;
    flex: 1;
    cursor: pointer;

    &-tooltip {
      position: absolute;
      left: 135px;
      top: -1px;

      text-decoration: underline;
    }
  }

  header.flexible-line-type-drawer {
    margin-bottom: $space-extra-large;
  }

  section.flexible-line-type-drawer {
    margin-bottom: $space-large;
  }

  .eds-drawer {
    overflow-y: scroll;
    &__close-button:hover {
      cursor: pointer;
    }
  }
}
