@import '../../styles/base/colors.scss';

.app {
  .navbar-and-routes {
    display: flex;

    .header-and-routes {
      display: flex;
      flex-direction: column;
      width: 100%;

      .routes {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .app-loader {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}