@import '@entur/tokens/dist/styles.scss';

.app {
  .navbar-and-routes {
    display: flex;

    .header-and-routes {
      display: flex;
      flex-direction: column;
      width: 100%;

      .routes {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 30px;
      }
    }
  }

  .entur-tab-headers-list {
    margin-bottom: 40px;
  }

  .loader {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.get-started {
  max-width: 54rem;
  .tagline {
    margin: 0;
  }

  .color-blue {
    color: $colors-blues-blue40;
  }

  .lead {
    font-size: $font-sizes-extra-large;
    line-height: $line-heights-extra-large4;
    color: $colors-brand-blue;
  }

  header {
    margin-bottom: $space-extra-large5;
  }

  section:not(:last-child) {
    margin-bottom: $space-extra-large4;
  }
  .point {
    margin: 0 0 $space-extra-large 0;
  }

  .stop-place-button {
    margin-left: $space-medium;
  }

  .platform-id-text {
    margin-top: $space-extra-large8;
  }
}

.home {
  max-width: 900px;
  .cards {
    display: grid;
    grid-gap: 1.5rem;
    column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;

    .eds-navigation-card {
      height: 100%;
      width: 100%;
    }

    .card-link {
      text-decoration: inherit;
      color: inherit;
    }
  }

  .bus-icon {
    g {
      fill: $colors-brand-blue;
    }
  }
}
