.export-editor {
  flex: 1;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .export-form {
    max-width: 450px;
    min-width: 250px;

    input:not(.MuiCheckbox-root input),
    textarea,
    select {
      width: 100%;
    }
  }

  .required-marker {
    display: block;
    margin-bottom: 20px;
  }

  .export-name {
    margin: 3rem 0 4.5rem;
    max-width: 30rem;
  }

  .export-dates {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4.5rem;
    margin-top: 1.5rem;

    > :first-child {
      margin-right: 1.5rem;
    }
  }

  .export-lines-table {
    margin-bottom: 4.5rem;
  }

  .export-dry-run {
    display: flex;
    align-items: flex-end;
    .question-icon {
      margin-left: 1rem;
      cursor: help;
      z-index: 100;

      svg {
        color: #0082b9;
      }
    }
  }

  .export-save {
    margin-top: 6rem;
  }
}
