@import '~@entur/tokens/dist/styles.scss';

.booking-info {
  margin-top: 2rem;
  padding: 1rem 2rem 2rem 2rem;

  &.booking-info-trim {
    margin-top: 0;
    padding-left: 0;
  }

  .booking-info-buttons {
    margin-top: 1rem;
  }
}

.booking-modal-buttons {
  margin-top: 2rem;
}

.booking-editor {
  .booking-contact-info {
    margin-top: $space-extra-large5 - $space-large;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
      width: 48%;
      min-width: 20rem;
      margin-top: $space-large;
    }
  }
  .booking-time-info {
    .filter-chip-list {
      display: flex;
      flex-wrap: wrap;
      .eds-chip {
        margin-left: 0.5rem;
      }
      :first-child {
        margin-left: 0;
      }
    }

    > div {
      margin-top: $space-large;
    }

    > :first-child {
      width: 48%;
      min-width: 20rem;
      margin-bottom: $space-extra-large;
    }
  }
}
