@use '@entur/tokens/dist/styles.scss' as *;

.day-types {
  flex: 1;
  display: flex;
  flex-direction: column;

  .create {
    max-width: 20rem;
    margin-bottom: $space-large;
  }

  .delete-row-cell {
    width: 50px;
    text-align: right;
  }

  .row-no-day-types {
    &.disabled {
      cursor: default;

      &:hover {
        background-color: inherit;
      }
    }
  }
}
