# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/server/node_modules

# testing
/coverage

# production
/build

# misc
.idea
.DS_Store


npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
server/yarn.lock

# css
src/**/*.css

# compiled i18n
src/i18n/build

#SASS
*.css.map