.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  margin-top: 1.5rem;
  .modal-input {
    margin-bottom: 2rem;
  }
}

.margin-right {
  margin-right: 1rem;
}
