@import '../../styles/base/colors.scss';

.time-unit-picker {
  position: relative;

  input {
    width: 100%;
    background: $grey-30 url('../../static/icons/Arrowdown.svg') no-repeat right
      16px center;
    padding-right: 30px;
    cursor: default;
    user-select: none;
  }

  .pickers-container {
    position: absolute;
    z-index: 100;
    width: 230px;
    padding: 25px;
    background-color: $blue-80;
    display: flex;
    flex-direction: column;

    .pickers {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 20px;

      .picker {
        flex-grow: 1;
        font-weight: 500;
        text-align: center;
        margin-right: 5px;

        > div {
          text-transform: capitalize;
        }

        select {
          padding: 0 15px 0 15px !important;
          height: 40px;
          background-position: right 16px center;
          color: $primary;
          font-weight: 500;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .buttons {
      display: flex;
    }

    .entur-button {
      margin: 0;
      height: 45px;
      max-height: 45px;
      min-height: 45px;

      &:first-of-type {
        margin-right: 10px;
      }
    }

    &.above {
      bottom: 45px + 15px;

      &:after {
        content: '';
        border-style: solid;
        border-width: 6px 6px 0 6px;
        border-color: $blue-80 transparent transparent transparent;
        position: absolute;
        left: 15px;
        bottom: -6px;
      }
    }

    &.below {
      margin-top: 15px;

      &:before {
        content: '';
        border-style: solid;
        border-width: 0 6px 6px 6px;
        border-color: transparent transparent $blue-80 transparent;
        position: absolute;
        left: 15px;
        top: -6px;
      }
    }
  }
}
