@import '../../../styles/base/colors.scss';

.sort-filter-menu {
  background-color: $grey-30;
  min-width: 160px;
  margin-top: 15px;
  margin-left: -2px;

  &:before {
    content: '';
    width: 10px;
    height: 10px;
    border-style: solid;
    position: absolute;
    left: 10px;
    top: -8px;
    border-width: 2px 0 0 2px;
    transform: rotate(45deg) translateY(2px);
    border-color: #d2d2d2;
    background: #f3f3f3;
    z-index: -1;
  }

  .menu-item,
  .menu-item-nested > .menu-item {
    padding: 15px 10px 15px 15px;
    min-width: 120px;
    border-bottom: 2px solid $grey-10;

    div {
      display: flex;
      align-items: center;
    }

    &:hover {
      background-color: $secondary;
    }

    .icon-container {
      display: inline-flex;
      justify-content: center;
      width: 16px;
      padding: 0;
      margin-right: 10px;

      svg {
        margin: 0;
      }
    }
  }

  .menu-item-nested {
    top: 0;
    background-color: $grey-30;
    border-top: 2px solid $grey-10;
    border-bottom: 2px solid $grey-10;

    .menu-item {
      border-left: 2px solid $grey-10;
      border-right: 2px solid $grey-10;
      border-bottom: none;
      border-bottom: 2px solid $grey-10;
    }

    &:before {
      content: '';
      width: 10px;
      height: 10px;
      border-style: solid;
      position: absolute;
      left: -5px;
      top: 20px;
      border-width: 2px 0 0 2px;
      transform: rotate(45deg) translateY(2px);
      border-color: #d2d2d2;
      background: #f3f3f3;
      z-index: -1;
    }
  }
}
