@import '../../styles/base/colors.scss';

.menu {
  background: $white;
  font-size: 12px;
  z-index: 99;
  position: absolute;
  display: flex;
  border: 2px solid $grey-10;
  border-bottom: none;
  flex-direction: column;
}
