@import '../../../../../../styles/base/colors.scss';

.map-container {
  flex: 1;
  display: flex;
  position: relative;

  .map {
    flex: 1;
    border: 1px solid $primary;
    cursor: pointer;
  }

  button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
  }
}
