@import '~@entur/tokens/dist/styles.scss';
@import '../../styles/base/dimensions.scss';

.content-checkbox {
  display: inline-flex;
  height: $inputHeight;
  width: $inputHeight;
  margin: 0;
  border: 2px solid $colors-blues-blue60;
  border-radius: 1px;
  color: $colors-brand-blue;
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
  user-select: none;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 2px;
    width: 100%;
    height: 100%;
  }

  &:focus {
    outline: none;
    border-color: $colors-validation-sky-contrast;
  }

  &.checked {
    background-color: $colors-blues-blue60;
    border-color: $colors-blues-blue60;
    border-bottom-color: $colors-brand-blue;

    &:focus {
      border-color: $colors-misc-focus;
    }
  }

  input {
    display: none;
  }
}
