@import '@entur/tokens/dist/styles.scss';

.stop-point-editor-container {
  display: flex;
}

.stop-point-editor-width-limit {
  max-width: 450px;
  margin-right: 30px;
}

.stop-point-number-alert {
  min-width: 450px;
  margin-bottom: 3rem;
}

@media only screen and (min-width: 1600px) {
  .stop-point-editor-width-limit {
    max-width: 980px;
  }
}

.stop-point-editor {
  .stop-point {
    padding-bottom: 0.7rem;
    border-bottom: 2px solid $colors-greys-grey20;

    .stop-point-element {
      display: flex;
      justify-content: space-between;
      margin-top: $space-large;

      .stop-point-key-info {
        min-width: fit-content;

        .eds-paragraph {
          margin: $space-small 2rem $space-small 0.4rem !important;
        }

        > fieldset {
          margin: auto 0;
          min-width: fit-content;
        }

        .radio-buttons {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .move-up {
          transform: rotate(90deg);
        }

        .move-down {
          transform: rotate(-90deg);
          margin-bottom: 0.5rem;
        }
      }

      .stop-point-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 50rem;
        flex-basis: 100%;
        margin-left: 1rem;
        margin-right: 1rem;

        .eds-input-group + .eds-input-group {
          margin-top: 0;
        }

        > div {
          min-width: 200px;
          margin-right: 3px;
          margin-bottom: 1rem;
        }

        .stop-point-info-item {
          width: 260px;
        }

        > :last-child {
          margin-right: 0;
        }

        .action-buttons-group {
          display: flex;
          flex-direction: column;
          min-width: fit-content;
        }
      }
    }

    > :last-child {
      border-bottom: none;
    }
  }

  #locate-button {
    margin: 0;
    padding: 0 0.5rem;
    min-width: fit-content;
    white-space: nowrap;
    width: fit-content;
    margin-top: 2.25rem;

    svg {
      margin-right: 0;
    }
  }
}
