.leaflet-popup-content {
  width: fit-content !important;
}

.leaflet-popup-content section {
  padding-bottom: 0.5rem;
}

.popup-title {
  text-wrap: nowrap;
  margin-block-start: 0;
  margin-block-end: 0;
}

.popup-id {
  font-weight: 600;
}

.popup-button-panel {
  display: flex;
}

.popup-button {
  font-size: 14px !important;
  text-wrap: nowrap;
}

.leaflet-popup {
  padding-bottom: 26px;
}

.popup-title {
  text-wrap: nowrap;
  margin-block-start: 0;
  margin-block-end: 0;
  // The color couldn't get picked otherwise...
  color: #181c56;
}

.leaflet-tooltip {
  padding: 2px 5px;
  font-weight: 600;
  border-radius: 8px;
}

.stop-point-sequence-index-chip {
  color: black !important;
  margin-right: 0.25rem;
}

.stop-point-sequence-index-tooltip-item {
  padding-right: 0.25rem;
  border-right: 1px solid #b3b4bd;
  margin-right: 0.25rem;
}

.leaflet-div-icon {
  background: none !important;
  border: none !important;
  z-index: 300 !important;
}

.cluster-marker {
  z-index: 300 !important;
  color: #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600 !important;
  // box-shadow: 4px 4px 10px rgba(255, 155, 138, 0.7);

  &--medium {
    background: rgba(230, 192, 43, 0.7);
    border: 4px solid rgba(253, 255, 255, 0.3);
    padding: 13px;
  }

  &--small {
    background: rgba(117, 206, 33, 0.7);
    border: 4px solid rgba(255, 255, 255, 0.3);
    padding: 11px;
  }

  &--large {
    background: rgba(253, 156, 115, 0.7);
    border: 4px solid rgba(255, 255, 255, 0.3);
    padding: 15px;
  }
}

.stop-places-spinner {
  flex: 1;
  display: flex;
}
