@import '../../styles/base/colors.scss';

.tabs {
  & > .tab-list {
    display: flex;

    & > div {
      flex-grow: 1;
      margin-right: 20px;
      font-weight: 600;
      font-size: 20px;
      color: $grey-10;
      border-bottom: 2px solid $grey-10;
      cursor: pointer;

      &:hover {
        color: $primary;
      }

      &.selected {
        color: $primary;
        border-bottom: 2px solid $primary;
        cursor: initial;
      }

      &.disabled {
        opacity: 0.3;
      }

      & > div {
        padding-left: 5px;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
