@import '../../../../../../../../../../../../../../styles/base/colors.scss';

.day-type-assignment-editor {
  position: relative;
  display: flex;
  border: 1px solid $primary;
  padding: 5px 0;
  background-color: lightcoral;

  .set-availability {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
  }

  .entur-switch {
    margin-bottom: 10px;

    .entur-switch__input {
      width: 185px;
    }
  }

  .range-dates {
    display: flex;

    > div:last-of-type {
      margin-left: 30px;
    }
  }

  input {
    margin-bottom: 0 !important;
  }

  .delete {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 5px;
  }

  &.available {
    background-color: lightgreen;
  }
}
