.export-editor {
  flex: 1;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .export-form {
    max-width: 450px;
    min-width: 250px;

    input:not(.entur-just-radio-checkbox),
    textarea,
    select {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
