.lines {
  flex: 1;
  display: flex;
  flex-direction: column;

  table {
    margin-top: 20px;
  }
  .buttons {
    :first-child {
      margin-right: 1rem;
    }
  }
}

.new-line-button {
  width: 15rem;
}
