.weekday-picker {
  .checkboxes {
    display: flex;
    flex-wrap: wrap;

    .MuiChip-root {
      margin-right: 7px;
      margin-bottom: 7px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
