@import '~@entur/chip/dist/styles.css';
.weekday-picker {
  .checkboxes {
    display: flex;
    flex-wrap: wrap;

    .eds-filter-chip {
      margin-right: 7px;
      margin-bottom: 7px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
