@import './base/base.scss';
@import '~@entur/component-library/lib/index.css';

.form-section {
  margin-bottom: 30px;

  input:not(.entur-radio-checkbox__input),
  textarea,
  select {
    width: 100%;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.input-error {
  border: solid 1px $dark-coral;
}
