@import './base/base.scss';
@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/dropdown/dist/styles.css';
@import '~@entur/a11y/dist/styles.css';
@import '~@entur/icons/dist/styles.css';
@import '~@entur/alert/dist/styles.css';
@import '~@entur/layout/dist/styles.css';
@import '~@entur/expand/dist/styles.css';
@import '~@entur/table/dist/styles.css';
@import '~@entur/datepicker/dist/styles.css';
@import '~@entur/tooltip/dist/styles.css';
@import '~@entur/menu/dist/styles.css';
@import '~@entur/form/dist/styles.css';

.form-section {
  margin-bottom: 30px;

  input,
  textarea,
  select {
    width: 100%;
  }
}

.tab-style {
  width: 100%;
  max-width: 450px;
}

.input-error {
  border: solid 1px $colors-brand-coral;
}
