@use './base/base.scss' as *;

.form-section {
  margin-bottom: 30px;

  input,
  textarea,
  select {
    width: 100%;
  }
}

.tab-style {
  width: 100%;
  max-width: 450px;
}

.input-error {
  border: solid 1px #ff5959;
}
