@import './base/base.scss';
@import '~@entur/dropdown/dist/styles.css';
@import '~@entur/tab/dist/styles.css';

.form-section {
  margin-bottom: 30px;

  input:not(.entur-radio-checkbox__input),
  textarea,
  select {
    width: 100%;
  }
}

.input-error {
  border: solid 1px $dark-coral;
}
