.stop-points-table {
  th {
    &:nth-of-type(1) {
      width: 5%;
    }
    &:nth-of-type(2) {
      width: 50%;
    }
    &:nth-of-type(3) {
      width: 10%;
    }
    &:nth-of-type(4),
    &:nth-of-type(5) {
      width: 15%;
    }
  }

  tr:hover {
    cursor: pointer;
  }

  .row-no-lines {
    font-style: italic;
    border: 0;
  }

  tr.disabled:hover {
    background-color: initial;
    cursor: default;
  }
}
