@import '~@entur/tokens/dist/styles.scss';

.radio-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  border: 1px solid $colors-brand-blue;
  border-radius: 50%;

  & .checked {
    background-color: $colors-brand-blue;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
}
