@import '~@entur/tokens/dist/styles.scss';

.lines-editor-general {
  .header {
    margin-bottom: $line-heights-extra-large7;
  }
  .inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
      width: 48%;
      margin-right: 2px;
      min-width: 20rem;
      margin-top: $space-large;
    }
  }

  .transport-mode-dropdowns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    > div {
      width: 48%;
      margin-right: 2px;
      min-width: 20rem;
      margin-top: $space-large;
    }
  }
}
