.lines-editor-general {
  .header {
    margin-bottom: 48px;
  }
  .inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
      width: 48%;
      margin-right: 2px;
      min-width: 20rem;
      margin-top: 24px;
    }
  }

  .transport-mode-dropdowns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    > div {
      width: 48%;
      margin-right: 2px;
      min-width: 20rem;
      margin-top: 24px;
    }
  }
}
