@import '../../../../../../node_modules/@entur/tokens/dist/styles';

.user-menu {
  font-size: 16px;
  color: $colors-brand-white;
  display: flex;
  align-items: center;

  .user-icon {
    border-radius: 20px;
    padding: 10px;
    margin-right: 15px;

    svg {
      display: block;
      margin: 0 auto;
    }
  }

  .name {
    flex: 1;
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: 0.1875rem;
  }

  .menu-item {
    border-bottom: 2px solid $colors-greys-grey10;
    border-right: 2px solid $colors-greys-grey10;

    .eds-checkbox-icon {
      margin-right: 0;
    }
  }
}
