.page-header {
  display: flex;

  .back-button {
    margin-bottom: 1rem;
    margin-right: 1rem;

    button {
      border: none;
      display: flex;
      align-items: baseline;
      min-width: fit-content;

      svg {
        margin-right: 1rem;
      }
    }
  }
}
