.booking-editor {
  .booking-limit-radio {
    margin-bottom: 5px;
  }

  .latest-time-picker {
    margin-left: 25px;
    margin-bottom: 10px;

    input {
      margin-bottom: 0;
    }
  }

  .mimimum-booking-period-picker {
    margin-left: 25px;
  }
}
