@import '../../styles/base/colors.scss';

.overlay-loader {
  position: relative;

  .overlay, .loader {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
  }

  .overlay {
    background-color: white;
    opacity: 1;

    &.seeThrough {
      opacity: 0.9;
    }
  }

  .loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    max-height: 1000px;

    .text {
      margin-top: 5px;
      font-size: 17px;
      font-weight: 500;
    }
  }
}
