@import '@entur/tokens/dist/styles';

.journey-pattern-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    width: 48%;
    min-width: 20rem;
    margin-top: $space-large;
  }
}
