.line-editor {
  flex: 1;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-left: auto;

    button:last-of-type {
      margin-left: 30px;
    }
  }

  .save-button-container {
    margin-top: 20px;
    text-align: right;
  }
}
