@import '../../../../styles/base/colors.scss';

.line-editor {
  flex: 1;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttons button:last-of-type {
      margin-left: 30px;
    }
  }

  .general-tab,
  .booking-tab {
    width: 500px;
    max-width: 500px;

    .add-journey-pattern-button-container {
      margin-top: 10px;
      text-align: right;
    }
  }

  .save-button-container {
    margin-top: 20px;
    text-align: right;
  }

  ul.errors {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1em 0;
    color: $dark-coral;
  }
  .input-error {
    border: solid 1px $dark-coral;
  }
}
