.search-popover {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1000;
  background: white;
  color: black;
  background-clip: padding-box;
  box-shadow: none;
  border-radius: 4px;
  cursor: default;
}

.search-input {
  min-width: 21.5rem;
  width: auto;
}

.map-search-results-wrapper {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-top: none;
}

.map-search-results-container {
  max-height: 14rem;
  overflow: auto;
  padding-bottom: 0.5rem;
}

.map-search-result {
  margin: 0.7rem 1.15rem;
  display: flex;
  justify-content: space-between;
}

.map-search-result--not-last {
  border-bottom: 1px solid #d1d3d3;
  padding-bottom: 0.7rem;
}

.map-search-status-label {
  padding: 0.75rem !important;
}

.map-search-results-label {
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 0;
}
