@import '~@entur/dropdown/dist/styles.css';
@import '~@entur/layout/dist/styles.css';
@import '~@entur/form/dist/styles.css';

@import '../../../../../styles/base/colors.scss';

.user-preference {
  width: 80%;
  margin: 20px auto 35px;

  .provider-wrapper {
    margin-top: 30px;
  }
}
