@import '../../../../../../../../styles/base/colors.scss';

.stop-point-editor {
  .general-tab {
    width: 500px;
    max-width: 500px;

    input:not(.entur-radio-checkbox__input),
    textarea,
    select {
      width: 100%;
      margin-bottom: 30px;
    }

    input.entur-just-radio-checkbox {
      margin-bottom: 30px;
    }
  }

  .booking-tab {
    width: 500px;
    max-width: 500px;

    input:not(.entur-radio-checkbox__input),
    textarea,
    select {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .entur-radio-checkbox-group input {
    margin-bottom: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-buttons button:last-of-type {
      margin-left: 30px;
    }
  }
  ul.errors {
    list-style-type: none;
    padding: 0;
    margin: -1.5em 0 1em 0;
    color: $dark-coral;
  }
  .input-error {
    border: solid 1px $dark-coral;
  }
}
