@import '@entur/tokens/dist/styles.scss';

.loader {
  display: none;
  min-width: 100px;
  text-align: center;
  color: $colors-brand-blue;

  &.visible {
    display: flex;
    flex-direction: column;

    .text {
      margin-top: 5px;
      font-size: 17px;
      font-weight: 500;
    }
  }

  &.fullscreen {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;

    .spinner {
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 3;
    }
  }
}
