.logo {
  width: 72px;
  height: auto;
  margin-right: 5px;
}

.logo-wrapper {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 20px;

  span {
    margin-left: 0.25rem;
    color: #ff5959;
    font-size: 1.3em;
    font-weight: 500;
  }
}
