@import '../../../../../styles/base/colors.scss';

$active-border-width: 5px;

.nav-bar-menu-item {
  box-sizing: border-box;
  cursor: pointer;

  a {
    text-decoration: none;
  }

  .border {
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  }

  .content {
    display: flex;
    align-items: center;
    padding: 17px;
    margin-left: $active-border-width;

    .icon {
      opacity: 0.5;
    }

    .label {
      color: white;
      margin-left: 20px;
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
    }
  }

  &:hover {
    background: $blue-10;
  }

  &.active {
    border-left: $active-border-width solid $coral;

    .content {
      margin-left: 0;
    }

    &:hover {
      background-color: initial;
    }
  }

  &.disabled {
    cursor: default;
    pointer-events: none;

    .content {
      opacity: 0.2;
    }

    &:hover {
      background-color: inherit;
    }
  }
}

.sub-items {
  height: 0;
  overflow: hidden;
  transition: height 0.35s;
  transition-timing-function: ease-in-out;

  .nav-bar-menu-item {
    background-color: $blue-10;

    .content {
      margin-left: $active-border-width;
    }

    .label {
      font-weight: 400;
    }

    &:hover {
      background-color: $blue-20;
    }

    &.active {
      border-left: 0;
      background-color: $blue-30;
    }
  }
}
