@import '../../styles/base/colors.scss';

.confirmation-dialog-dark {
  background-color: $primary;
  color: $white;
}

.confirmation-dialog-light {
  background-color: $white;
  color: $black;
}

.confirmation-dialog {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  min-height: 10rem;
  width: 30%;
  min-width: 20rem;
  max-width: 60rem;
  padding: 0;
  position: fixed;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 0;
  overflow: visible;

  .display-info-date {
    display: flex;
    justify-content: space-between;
  }

  .display-info-description,
  .display-info-files {
    margin-top: 20px;
  }

  .close {
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
  }

  .title {
    font-size: 24px;
    font-weight: 500;
    padding: 0 20px 10px 20px;
  }

  .message {
    flex-grow: 0.5;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
    flex-wrap: wrap;
    width: 90%;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    padding: 40px 10px 20px 10px;

    button {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 10px;
    }
  }

  .single-button {
    justify-content: center;
  }
}

.ReactModal__Content {
  display: flex;
  flex-direction: column;
}
