.buttons {
  display: flex;
  margin-top: 2rem;
  max-width: 100%;
  justify-content: space-between;

  button {
    width: 100%;
    max-width: 20rem;
  }

  :first-child {
    margin-right: 2rem;
  }
}
