.copy-button {
  margin: auto 0 auto auto;
  padding: 0 0.5rem;
  min-width: fit-content;

  svg {
    margin-right: 0;
  }
}

.copy-button,
.thin {
  margin: 0;
  min-width: fit-content;
  width: fit-content;
}
