@import '~@entur/tokens/dist/styles.scss';

.dialog {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  height: 85%;
  min-height: 10rem;
  max-height: 85%;
  width: 80%;
  min-width: 20rem;
  padding: 20px;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: $colors-brand-white;
  color: $colors-brand-blue;
  border: 1px solid;
  overflow-y: auto;

  .close-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    color: $colors-brand-blue;
    fill: $colors-brand-blue;
  }

  .title {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
    color: $colors-brand-blue;
  }

  .message {
    flex-grow: 0.5;
    font-size: 16px;
    color: $colors-brand-blue;
    font-weight: 400;
    flex-wrap: wrap;

    label {
      color: $colors-brand-blue;
    }
  }

  .dialog-buttons {
    padding-top: 20px;
    text-align: right;

    .button {
      margin: 0 0 0 10px;
    }
  }
}
