@import '../../styles/base/colors.scss';

table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  white-space: nowrap;

  th {
    padding: 20px 10px;
    font-size: 14px;
    color: $blue-40;
    font-weight: 500;
    line-height: 100%;

    &:hover {
      cursor: default;
    }

    .sortable {
      display: flex;
      align-items: center;

      svg {
        margin-left: 10px;
      }
    }
  }

  td,
  th {
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
  }

  td {
    font-size: 16px;
    font-weight: 500;
    padding: 20px 10px;

    a,
    a:visited {
      color: inherit;
      cursor: pointer;
    }
  }

  thead {
    border-bottom: 2px solid $grey-30;
    .mini {
      max-width: 4vw;
    }
  }

  tbody {
    tr {
      border-bottom: 2px solid $grey-30;
      line-height: 24px;

      &:hover,
      &.active {
        background-color: $blue-80;
      }

      &.not-active:hover {
        background-color: inherit;
      }
    }
  }
}
