@import '~@entur/tokens/dist/styles.scss';

.journey-pattern-inputs {
  display: flex;
  flex-direction: column;
  max-width: 40%;

  .eds-input-group {
    flex: 40% 0;
  }

  .eds-input-group + .eds-input-group {
    margin-top: 0;
  }
}

.input-group {
  margin-bottom: 4rem;

  .input-fields {
    display: flex;
    flex-wrap: wrap;

    div {
      flex: 40%;
      margin-right: 2rem;
      margin-top: 0;
    }
  }
}

.operator-selector {
  max-width: 200px;
  width: 100%;
}

.stop-point-info {
  svg {
    margin-right: 0.375rem;
  }
  margin-bottom: 2rem;
}
