.journey-pattern-editor {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-buttons button:last-of-type {
      margin-left: 30px;
    }
  }
}

.journey-pattern-inputs {
  display: flex;
  flex-wrap: wrap;

  .eds-input-group {
    flex: 40% 1;
    margin-right: 2rem;
  }

  .eds-input-group + .eds-input-group {
    margin-top: 0;
  }
}

.input-group {
  margin-bottom: 4rem;

  .input-fields {
    display: flex;
    flex-wrap: wrap;

    div {
      flex: 40%;
      margin-right: 2rem;
      margin-top: 0;
    }
  }
}

.operator-selector {
  width: 20%;
}
