@import '../../styles';

.service-journey-editor {
  .general-tab,
  .booking-tab {
    width: 500px;
    max-width: 500px;

    input:not(.entur-radio-checkbox__input),
    textarea,
    select {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .delete-button {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
}
