@import '../../../../../../../../styles/base/colors.css';

.service-journey-editor {
  .general-tab,
  .booking-tab {
    width: 500px;
    max-width: 500px;

    input:not(.entur-radio-checkbox__input),
    textarea,
    select {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-buttons button:last-of-type {
      margin-left: 30px;
    }
  }
}
