@import '../../../../node_modules/@entur/tokens/dist/styles.css';

.error-icon {
  color: $colors-validation-lava;
}

.success-icon {
  color: $colors-validation-mint;
}

.exlamation-icon {
  color: $colors-validation-canary;
}
