@import '../../styles/base/colors.scss';

.custom-datepicker {
  background-color: $grey-30;
  border: none;
  border-bottom: 2px solid $secondary;
  outline: none;
  padding: 10px;
  text-indent: 2px;
  margin-bottom: 15px;
}
.custom-datepicker-calendar {
  border-radius: 0;
  width: 370px;
  height: 310px;
  border: none;
  font-family: 'Nationale', serif;
}
.custom-datepicker-calendar .react-datepicker__navigation--previous {
  border: none;
  background-image: url('../../static/icons/Arrow_Right.svg');
  height: 15px;
  width: 15px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  left: 20px;
  transform: rotate(180deg);
}
.custom-datepicker-calendar .react-datepicker__navigation--next {
  border: none;
  background-image: url('../../static/icons/Arrow_Right.svg');
  height: 15px;
  width: 15px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  right: 100px;
}
.custom-datepicker-calendar .react-datepicker__month-container {
  background-color: $blue-80;
  width: 290px;
  height: 310px;
}
.custom-datepicker-calendar
  .react-datepicker__month-container
  .react-datepicker__header {
  background-color: $blue-80;
  padding-top: 0;
  height: 65px;
}
.custom-datepicker-calendar
  .react-datepicker__month-container
  .react-datepicker__header
  .react-datepicker__current-month {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: $primary;
  padding: 9px 0;
}
.custom-datepicker-calendar
  .react-datepicker__month-container
  .react-datepicker__month
  .react-datepicker__day {
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: $primary;
  width: 2rem;
  height: 2rem;
  border: 1px solid transparent;
}
.custom-datepicker-calendar
  .react-datepicker__month-container
  .react-datepicker__month
  .react-datepicker__day--selected {
  background-color: transparent;
  border: 1px solid $primary;
  border-radius: 20px;
}
.custom-datepicker-calendar
  .react-datepicker__month-container
  .react-datepicker__month
  .react-datepicker__day--keyboard-selected {
  background-color: transparent;
  border: 1px solid $primary;
  border-radius: 20px;
}

.custom-datepicker-calendar
  .react-datepicker__month-container
  .react-datepicker__header
  .react-datepicker__day-names
  .react-datepicker__day-name {
  font-size: 14px;
  color: $blue-40;
  font-weight: 500;
  line-height: 20px;
  width: 2rem;
  border: 1px solid transparent;
}
.custom-datepicker-calendar .react-datepicker__time-container {
  width: 80px;
  height: 310px;
  border: none;
}
.custom-datepicker-calendar
  .react-datepicker__time-container
  .react-datepicker__header--time {
  padding: 0;
}
.custom-datepicker-calendar
  .react-datepicker__time-container
  .react-datepicker__header--time
  .react-datepicker-time__header {
  padding: 9px 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: $primary;
}
.custom-datepicker-calendar .react-datepicker__header {
  border: none;
}
.custom-datepicker-calendar .react-datepicker__time-container * {
  background-color: $secondary;
  border-radius: 0;
}
.custom-datepicker-calendar
  .react-datepicker__time-container
  .react-datepicker__time-list {
  height: calc(256px + (1.7rem / 2)) !important;
  overflow: hidden;
}
.custom-datepicker-calendar
  .react-datepicker__time-container
  .react-datepicker__time-list
  .react-datepicker__time-list-item {
  padding: 7px 20px !important;
  width: 45px;
}
.custom-datepicker-calendar
  .react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item:hover {
  background-color: $secondary;
}
ul.react-datepicker__time-list {
  padding-left: 0;
}
.react-datepicker__year-read-view--down-arrow {
  border-top-color: #ccc;
  float: right;
  margin-left: 5px;
  top: 2px;
  position: relative;
  border: none;
  background-image: url('../../static/icons/Arrow_Right.svg');
  height: 10px;
  width: 10px;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  transform: rotate(90deg);
}
.react-datepicker__year-read-view--down-arrow::before {
  content: none;
}
