@import '../../styles/base/colors.scss';

.custom-datepicker {
  background-color: $grey-30;
  border: none;
  border-bottom: 2px solid $secondary;
  outline: none;
  padding: 10px;
  text-indent: 2px;
  margin-bottom: 15px;
}
