@import '@entur/tokens/dist/styles.scss';

.stop-place-editor {
  .stop-place-form-container {
    display: flex;

    .stop-place-form {
      display: flex;
      flex: 1;
      flex-direction: column;
      max-width: 450px;
      margin-right: 30px;
      justify-content: space-between;

      > div,
      > button {
        margin-top: $space-large;
      }

      .buttons {
        margin-top: $space-extra-large4;
        display: flex;
        justify-content: space-between;

        > :first-child {
          margin-right: $space-large;
        }
      }
    }

    .stop-place-flexible-area {
      display: flex;
      flex: 1;
      flex-direction: column;
      z-index: 0;
    }
  }

  textarea::placeholder {
    color: #bbb;
    font-size: 12px;
  }
}
