.stop-place-editor {
  flex: 1;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttons button:last-of-type {
      margin-left: 30px;
    }
  }

  .stop-place-form-container {
    flex: 1;
    display: flex;

    .stop-place-form {
      flex: 1;
      max-width: 450px;
      min-width: 250px;
      margin-right: 30px;

      input,
      textarea,
      select {
        width: 100%;
        margin-bottom: 30px;
      }

      .save-button-container {
        margin-top: 20px;
        text-align: right;
      }
    }
  }

  .loader,
  .overlay-loader {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
