.stop-place-editor {
  .stop-place-form-container {
    display: flex;

    .stop-place-form {
      display: flex;
      flex: 1;
      flex-direction: column;
      max-width: 450px;
      margin-right: 30px;
      justify-content: space-between;

      > div,
      > button {
        margin-top: 1.5rem;
      }

      .buttons {
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;

        > :first-child {
          margin-right: 1.5rem;
        }
      }
    }

    .stop-place-flexible-area {
      display: flex;
      flex: 1;
      flex-direction: column;
      z-index: 0;
    }
  }

  textarea::placeholder {
    color: #bbb;
    font-size: 12px;
  }
}
