.stop-place-editor {
  flex: 1;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .stop-place-form-container {
    flex: 1;
    display: flex;

    .stop-place-form {
      display: flex;
      flex: 1;
      flex-direction: column;
      max-width: 450px;
      margin-right: 30px;
      justify-content: space-between;

      .save-button-container {
        margin-top: 20px;
        text-align: right;
      }

      .buttons {
        display: flex;
        justify-content: flex-end;
        button:last-of-type {
          margin-left: 30px;
        }
      }
    }

    .stop-place-flexible-area {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }

  .loader,
  .overlay-loader {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  textarea::placeholder {
    color: #bbb;
    font-size: 12px;
  }

  .draw-polygon-button {
    margin-top: 1.5rem;
  }
}
