.flexible-stop-place-editor {
  flex: 1;
  display: flex;
  flex-direction: column;

  .flexible-stop-place-form {
    width: 100%;
    margin-bottom: 20px;

    .inputs {
      display: flex;
      width: 100%;

      > div:nth-of-type(1),
      > div:nth-of-type(2) {
        flex-grow: 1;
        margin-right: 20px;

        input {
          width: 100%;
        }
      }

      > div:nth-of-type(3) {
        display: flex;
        align-items: flex-end;
      }
    }
  }

  .flexible-stop-place-listing {
    max-height: 30%;
    margin-bottom: 20px;
  }
}
