@import '~@entur/tokens/dist/styles.scss';

.service-journey-editor {
  display: flex;
  justify-content: space-between;

  .service-journey-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
      width: 48%;
      min-width: 20rem;
      margin-top: $space-large;
    }
  }

  .service-journey-editor-form {
    display: block;
  }

  .day-type-section {
    margin-top: 4rem;

    .question-icon {
      margin-left: 0.25rem;
      cursor: help;

      svg {
        color: $colors-validation-sky;
      }
    }
  }

  .weekday-section {
    margin-top: 4rem;
    textarea,
    select {
      width: 100%;
      margin-bottom: 30px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-buttons button:last-of-type {
        margin-left: 30px;
      }
    }

    .weekday-picker {
      margin-top: 0.5rem;
    }
  }

  .passing-times-section {
    margin-top: 4rem;
  }

  .service-journey-editor-action-chips {
    display: flex;

    .service-journey-editor-action-chip {
      margin-right: 1rem;
    }
  }
}

.copy-dialog {
  padding-left: $space-extra-large9;

  .copy-dialog-section {
    margin-top: 1.5rem;
  }

  .copy-dialog-inputs {
    display: flex;
    align-items: flex-end;
  }

  .copy-dialog-timepicker {
    width: 150px;
    margin-right: 1rem;
  }

  .copy-dialog-wide-element {
    max-width: 290px;
  }
}
