.navbar-wrapper {
  left: 0;
  top: 0;
  background-color: #181c56;
  min-height: 100vh;
  position: relative;

  .bottom-chips {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1rem;
    width: 100%;
  }
}

.side-navigation {
  min-width: 310px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
