@import '~@entur/tokens/dist/styles.scss';

.checkbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  border: 1px solid $colors-brand-blue;
  border-radius: 1px;
  background: $colors-brand-white;
  svg {
    fill: $colors-brand-blue;
  }
}
