.network-editor {
  flex: 1;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .network-form {
    max-width: 450px;
    min-width: 250px;

    input,
    textarea,
    select {
      width: 100%;
      margin-bottom: 30px;
    }

    .save-button-container {
      margin-top: 20px;
      text-align: right;
    }
  }

  .loader {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
