.network-editor {
  flex: 1;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;

    button:last-of-type {
      margin-left: 30px;
    }
  }

  .network-form {
    max-width: 450px;
    min-width: 250px;
  }

  .loader {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
