@import '@entur/tokens/dist/styles.scss';

.line-type-dropdown {
  width: 100%;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  margin-top: $space-large;

  &-tooltip {
    text-decoration: underline;
  }
}

header.flexible-line-type-drawer {
  margin-bottom: $space-extra-large;
}

section.flexible-line-type-drawer {
  margin-bottom: $space-large;
}

.eds-drawer {
  overflow-y: scroll;
  &__close-button:hover {
    cursor: pointer;
  }
}
