.line-type-dropdown {
  width: 100%;
  position: relative;
  font-size: 14px;
  margin-top: 1.5rem;

  &-tooltip {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    margin-bottom: 0.75rem;
  }
}

header.flexible-line-type-drawer {
  margin-bottom: 2rem;
}

section.flexible-line-type-drawer {
  margin-bottom: 1.5rem;
}
