@use '@entur/tokens/dist/styles.scss' as *;

.line-type-dropdown {
  width: 100%;
  position: relative;
  font-size: 14px;
  margin-top: $space-large;

  &-tooltip {
    // Reset button styles when Link is rendered as button
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    margin-bottom: $space-small;
  }
}

header.flexible-line-type-drawer {
  margin-bottom: $space-extra-large;
}

section.flexible-line-type-drawer {
  margin-bottom: $space-large;
}

.eds-drawer {
  overflow-y: scroll;
  &__close-button:hover {
    cursor: pointer;
  }
}
