@use '@fintraffic/fds-coreui-css/dist/fonts-public-sans';

body {
  font-family: 'Public Sans';
}

.page .page-content {
  margin: 1.5rem 1rem;
  padding: 0rem 2rem 0rem 1px;
}

// Create line

.required-input {
  margin-bottom: 5px;
}

.notices .notices-text-area textarea {
  min-height: 5.5rem;
}

.lines-editor-general .inputs > div {
  margin-top: 3rem;
}

.lines-editor-general .transport-mode-dropdowns > div {
  margin-top: unset;
}

section .notices {
  margin-top: 2rem;
}

// Journey patterns

.journey-pattern-inputs > div {
  margin-top: 3rem;
}

.stop-point #delete-button {
  margin-left: 1rem;
}

.stop-point #locate-button {
  margin-left: 1rem;
}

// Service journeys

.service-journey-editor .service-journey-inputs > div {
  margin-top: 3rem;
}

.service-journey-editor .service-journey-inputs {
  margin-bottom: 3rem;
}

.service-journey-editor .form-section {
  margin-bottom: unset;
}

.service-journey-editor .passing-times-section {
  margin-bottom: 3rem;
}

.service-journey-editor
  .service-journey-editor-action-chips
  .service-journey-editor-action-chip {
  margin-right: 0.2rem;
}

.journey-pattern-editor
  .journey-pattern-editor-action-chips
  .journey-pattern-editor-action-chip {
  margin-right: 0.2rem;
}

.copy-dialog .copy-dialog-section {
  margin-top: 3rem;
}

// Passing times

.passing-times-editor .passing-time .timepicker {
  min-width: unset;
  max-width: unset;
  width: fit-content !important;
  margin-right: 0.25rem;
  margin-left: 0.5rem;
  padding-left: 0;
  padding-right: 0;
}

.passing-times-editor .passing-time .title,
.passing-times-editor .passing-time .time-number {
  margin-bottom: 1rem;
}

.passing-times-editor .passing-time .title {
  max-width: unset !important;
  width: unset !important;
  flex-grow: 1 !important;
  margin-right: 1rem;
}

.passing-times-editor .passing-time {
  padding-bottom: 1.25rem;
  padding-top: 2.5rem;
}

.day-type-assignments-editor {
  margin-bottom: 1rem;
}

// Flexible lines

.line-type-dropdown-tooltip {
  margin-bottom: 2rem;
}

.time-unit-picker .pickers-container {
  padding-top: 3rem;
}

.time-unit-picker .pickers-container .picker {
  margin-bottom: 2.5rem;
}

.booking-editor .booking-time-info > :first-child {
  margin-top: 3rem;
}

.booking-editor .booking-contact-info > div {
  margin-top: 3rem;
}

// Stop points

.stop-point-editor .stop-point .stop-point-element .stop-point-info > div {
  margin-top: 1.5rem !important;
  margin-right: 14px;
}

.stop-point-editor .stop-point {
  padding-bottom: 0.1rem;
}

.stop-point-editor .stop-point .stop-point-element .stop-point-info {
  margin-left: 0;
}

.stop-point-editor .stop-point .stop-point-element {
  margin-top: 1.2rem;
}

@media only screen and (min-width: 1950px) {
  .stop-point-editor
    .stop-point
    .stop-point-element
    .stop-point-info
    .stop-point-info-item {
    width: 230px;
  }
}

.stop-point-key-info .radio-buttons {
  margin-right: 1.25rem;
}

// Flexible stop places

.stop-place-editor .stop-place-form-container .stop-place-form > div,
.stop-place-editor .stop-place-form-container .stop-place-form > button {
  margin-top: 3rem;
}

// Networks

.network-form > div {
  margin-top: 3rem;
}

// Map popups

.popup-title {
  font-weight: 600;
  color: var(--fds-color-interactive-200) !important;
  font-size: 16px;
  text-wrap: nowrap;
  margin-bottom: 0.1rem;
}

// Export

.export-dry-run .question-icon {
  padding-bottom: 0.35rem;
}

// Provider form

.provider-form .required-input {
  margin-bottom: 3rem;
}

.provider-form .form-section {
  margin-bottom: 3rem;
}

// Branding form

.branding-form .required-input {
  margin-bottom: 3rem;
}

.branding-form .form-section {
  margin-bottom: 3rem;
}
