.export-viewer {
  flex: 1;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .export-view {
    .export-items {
      margin: 2rem 0;

      .export-item {
        min-width: 10rem;
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;

        .export-status {
          display: flex;
          align-items: center;
          :first-child {
            margin-right: 0.5rem;
          }
        }
      }
    }

    .export-download {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      button {
        max-width: fit-content;
        cursor: pointer;
      }
    }

    .status,
    .message {
      display: flex;
      align-items: center;

      .icon {
        display: flex;
        align-items: center;
        margin-right: 10px;
      }
    }
  }
}
