.providers {
  flex: 1;
  display: flex;
  flex-direction: column;

  .create {
    max-width: 20rem;
    margin-bottom: 1.5rem;
  }

  .action-cell {
    width: 150px;
    min-width: 150px;

    button {
      white-space: nowrap;
    }
  }
}
