@use '@entur/tokens/dist/styles.scss' as *;

.providers {
  flex: 1;
  display: flex;
  flex-direction: column;

  .create {
    max-width: 20rem;
    margin-bottom: $space-large;
  }

  .action-cell {
    width: 150px;
    min-width: 150px;

    button {
      white-space: nowrap;
    }
  }
}
