@import '@fintraffic/fds-coreui-css/dist/tokens';

.custom-logo-wrapper {
  cursor: pointer;
  margin-top: 16px;
  padding-left: 30px;
  padding-right: 30px;
  height: auto;
}

.custom-logo-wrapper > div {
  color: #3388ff;
  width: fit-content;
  font-size: 1rem;
  font-weight: 600;
  margin-top: -0.5rem;
}

.logo {
  width: 130px;
}
