body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.positive {
  color: #1a8e60;
}

table {
  tr.row-no-lines {
    font-style: italic;
    border: 0;
  }

  tr.disabled:hover {
    background-color: initial;
    cursor: default;
  }
}
