@import '../fonts/fonts.scss';
@include font-face('fonts/');
@import './colors.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Nationale', serif;
  height: 100vh;
}

#root {
  height: 100%;
}

h1 {
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
  color: $primary;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  color: $primary;
}

h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  color: $primary;
}
h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
sub {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}
label {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
table,
td,
th {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

li {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

small {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.positive {
  color: $dark-mint;
}

table {
  tr:hover {
    cursor: pointer;
  }

  tr.row-no-lines {
    font-style: italic;
    border: 0;
  }

  tr.disabled:hover {
    background-color: initial;
    cursor: default;
  }
}
