$primary: #181c56;
$secondary: #babbcf;

$coral: #ff5959;
$dark-coral: #d31b1b;
$light-coral: #ffbf91;
$lighter-coral: #ffeeee;

$mint: #5ac39a;
$dark-mint: #1a8e60;
$light-mint: #eef9f4;

$canary: #efd358;
$light-canary: #fffcef;

$blue-10: #292b6a;
$blue-20: #393d79; // nightmode
$blue-30: #54568c;
$blue-40: #656782;
$blue-50: #8285a8;
$blue-60: #9ba4d2;
$blue-70: #d1d4e3;
$blue-80: #ebebf1;

$grey: #565659;
$grey-10: #d2d2d2;
$grey-20: #e9e9e9;
$grey-30: #f3f3f3;
$grey-40: #f8f8f8;

$white: #ffffff;
$black: #1a1a1a;

// brand
$brand-primary: $primary;
$brand-secondary: $coral;

// usecase
$focus: #44c0ff; // used for navigation and controls
