@import '../../../../../../../../../styles/base/colors.scss';

.passing-times-editor {
  border: 1px solid $primary;

  .headers {
    display: flex;
    text-align: center;
    border-bottom: 1px solid $grey;
    font-weight: 500;

    .number {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      border-right: 1px solid $grey-10;
    }

    .stop-place {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35%;
    }

    .table-headers {
      flex: 1;
      display: flex;
      justify-content: space-evenly;

      .collection {
        flex: 1;
        border-left: 1px solid $grey-10;

        .lowers {
          display: flex;
          justify-content: space-evenly;
          border-top: 1px solid $grey-10;

          > div {
            flex: 1;

            &:first-of-type {
              border-right: 1px solid $grey-10;
            }
          }
        }
      }
    }
  }

  .passing-time-editors {
    .passing-time-editor {
      display: flex;
      align-items: stretch;
      border-bottom: 1px solid $grey-10;

      &:last-of-type {
        border: 0;
      }

      .number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        padding: 5px;
        border-right: 1px solid $grey-10;
      }

      .stop-place {
        display: flex;
        align-items: center;
        width: 35%;
        padding: 5px;
      }

      .times {
        flex: 1;
        display: flex;
        border-left: 1px solid $grey-10;

        .time-n-day {
          display: flex;
          width: 50%;

          .time {
            width: 75%;
            border-right: 1px solid $grey-10;
          }

          .day {
            width: 25%;
          }

          &:first-of-type {
            border-right: 1px solid $grey-10;
          }
        }
      }
    }
  }

  input,
  select {
    width: 100% !important;
    margin-bottom: 0 !important;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
  }

  select {
    background-image: none;
  }

  .time-picker.with-seconds {
    width: 100%;

    input {
      background-image: none;
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}
